/* AI Assisted CSS 2025*/
.card {
    border-radius: 20px;
    padding: 16px;
    margin: 16px;
    width: 550px;
    height: auto;
    align-items: center;
    gap: 10px;
}

.card h1 {
    font-size: 24px;
}

.card-video-img {
    align-self: center;
    width: 500px;
    height: auto;
    border: 1px solid white;
}

.card-details {
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: start;
    align-self: start;
    flex-grow: 1; 
}

.card-buttons {
    display: flex;
    justify-content: center;
    gap: 30px
}

.card-buttons button {
    width: 200px;
    height: 45px;
    background: #fff;
    border: none;
    outline: none;
    border-radius: 40px;
    box-shadow: 0 0 10px rgba(0, 0, 0, .1);
    cursor: pointer;
    font-size: 16px;
    color: #333;
    font-weight: 700;
    align-self: center;
}

.reformat-text {
    color: darkblue;
}

.delete-text {
    color: red;
}